Repository viur-framework/viur-shop, pull requests merged in 2024-08, with the labels that each got.

#11 feat: Add `Api.basket_list`
  src/viur/shop/modules/api.py
Labels: enhancement, component: API

#14 feat: Use only `pyproject.toml` for packaging
  LICENSE
  pyproject.toml
  setup.cfg
  setup.py
Labels: dependencies, enhancement

#15 feat: Add PEP8 linter GitHub Action
  .github/workflows/pep8.yaml
Labels: enhancement

#13 feat: Support different names for the `viur-shop` module than shop
  src/viur/shop/modules/abstract.py
  src/viur/shop/modules/address.py
  src/viur/shop/modules/api.py
  src/viur/shop/modules/discount.py
  src/viur/shop/modules/discount_condition.py
  src/viur/shop/modules/order.py
  src/viur/shop/modules/shipping.py
  src/viur/shop/modules/shipping_config.py
  src/viur/shop/modules/vat.py
  src/viur/shop/shop.py
  src/viur/shop/skeletons/address.py
  src/viur/shop/skeletons/cart.py
  src/viur/shop/skeletons/discount.py
  src/viur/shop/skeletons/discount_condition.py
  src/viur/shop/skeletons/order.py
  src/viur/shop/skeletons/shipping.py
  src/viur/shop/skeletons/shipping_config.py
  src/viur/shop/skeletons/vat.py
Labels: Priority: Medium, enhancement, component: skeleton, component: module, component: API
