Repository viur-framework/viur-shop, pull requests merged in 2024-09, with the labels that each got.

#16 fix: Calculation of discount for baskets
  src/viur/shop/skeletons/cart.py
  src/viur/shop/types/price.py
Labels: Priority: High, bug(fix), component: skeleton

#18 feat: Implement shipping calculation and restructure Skeletons
  src/viur/shop/data/translations.py
  src/viur/shop/modules/address.py
  src/viur/shop/modules/api.py
  src/viur/shop/modules/cart.py
  src/viur/shop/modules/shipping.py
  src/viur/shop/modules/shipping_config.py
  src/viur/shop/services/hooks.py
  src/viur/shop/shop.py
  src/viur/shop/skeletons/address.py
  src/viur/shop/skeletons/article.py
  src/viur/shop/skeletons/cart.py
  src/viur/shop/skeletons/order.py
  src/viur/shop/skeletons/shipping.py
  src/viur/shop/skeletons/shipping_config.py
  src/viur/shop/skeletons/shipping_precondition.py
  src/viur/shop/types/__init__.py
  src/viur/shop/types/dc_scope.py
  src/viur/shop/types/exceptions.py
  src/viur/shop/types/price.py
  src/viur/shop/types/response.py
Labels: enhancement, component: skeleton, component: module, component: API, component: utils

#19 fix: Replace `ArticleSkel` by `ArticleAbstractSkel`
  src/viur/shop/modules/shipping_config.py
Labels: Priority: High, bug(fix)

#22 feat: Make module classes exchangeable
  src/viur/shop/modules/abstract.py
  src/viur/shop/modules/address.py
  src/viur/shop/modules/cart.py
  src/viur/shop/modules/discount.py
  src/viur/shop/modules/discount_condition.py
  src/viur/shop/modules/order.py
  src/viur/shop/modules/shipping.py
  src/viur/shop/modules/shipping_config.py
  src/viur/shop/modules/vat.py
  src/viur/shop/shop.py
Labels: Priority: High, enhancement, component: module, component: API

#20 feat: Add Prepayment Provider
  src/viur/shop/data/translations.py
  src/viur/shop/modules/order.py
  src/viur/shop/payment_providers/__init__.py
  src/viur/shop/payment_providers/abstract.py
  src/viur/shop/payment_providers/amazon_pay.py
  src/viur/shop/payment_providers/prepayment.py
  src/viur/shop/payment_providers/unzer_abstract.py
  src/viur/shop/skeletons/order.py
Labels: Priority: Medium, component: payment provider

#23 fix: Use `skel_cls.__boneMap__` instead of `vars(skel_cls)`
  src/viur/shop/shop.py
Labels: Priority: Critical, bug(fix), component: skeleton
