Repository viur-framework/viur-shop, pull requests merged in 2025-01, with the labels that each got.

#62 feat: Add missing billing_address and email validation
  src/viur/shop/modules/order.py
Labels: bug(fix), component: module

#63 feat: Implement more hooks
  src/viur/shop/modules/cart.py
  src/viur/shop/modules/order.py
  src/viur/shop/services/events.py
  src/viur/shop/services/hooks.py
Labels: component: module, component: services

#66 chore: fix rst docstring
  src/viur/shop/services/events.py
Labels: bug(fix), documentation

#65 fix: `ScopeCustomerGroup` must not be always `False` for guests
  src/viur/shop/types/dc_scope.py
Labels: Priority: High, bug(fix), component: module

#67 fix: key can be `None` on add
  src/viur/shop/modules/cart.py
Labels: bug(fix), component: module

#69 feat: Implement more events
  src/viur/shop/modules/cart.py
  src/viur/shop/modules/order.py
  src/viur/shop/services/events.py
Labels: enhancement, component: module

#70 feat: Add `country` parameter to get the shipping for a specific country
  src/viur/shop/modules/shipping.py
  src/viur/shop/modules/shipping_config.py
Labels: enhancement, component: module

#71 feat: Add more translations
  src/viur/shop/data/translations.py
  src/viur/shop/skeletons/__init__.py
  src/viur/shop/skeletons/discount.py
Labels: Priority: Low, enhancement, component: skeleton

#72 feat: Custom ViUR Unzer Client that uses current language
  src/viur/shop/payment_providers/unzer_abstract.py
Labels: enhancement, component: payment provider

#73 feat: Implement `phone` bone in `OrderSkel`
  src/viur/shop/data/translations.py
  src/viur/shop/modules/api.py
  src/viur/shop/modules/order.py
  src/viur/shop/skeletons/order.py
  src/viur/shop/types/data.py
Labels: enhancement, component: skeleton, component: module, component: API

#74 fix: Ensure session is marked as changed after it has been changed
  src/viur/shop/modules/abstract.py
  src/viur/shop/modules/cart.py
Labels: bug(fix), component: module

#75 feat: Add more translations
  src/viur/shop/data/translations.py
  src/viur/shop/modules/cart.py
  src/viur/shop/skeletons/discount.py
Labels: Priority: Low, enhancement, component: skeleton

#77 fix: Price Calculation
  src/viur/shop/skeletons/cart.py
  src/viur/shop/skeletons/order.py
  src/viur/shop/skeletons/vat.py
  src/viur/shop/types/price.py
Labels: Priority: Critical, bug(fix), component: skeleton, component: types

#78 fix: Correct modules of `RelationalBones` in `CartNodeSkel` and `OrderSkel`
  src/viur/shop/skeletons/cart.py
  src/viur/shop/skeletons/order.py
Labels: Priority: High, bug(fix), component: skeleton

#79 chore: Set default logger level to INFO
  src/viur/shop/shop.py
Labels: Priority: Medium, enhancement

#80 feat: Implement API method `cart_view()`
  src/viur/shop/modules/api.py
Labels: enhancement, component: API

#81 refactor: Move `phone` and `email` from `OrderSkel` to `AddressSkel`
  src/viur/shop/data/translations.py
  src/viur/shop/modules/api.py
  src/viur/shop/modules/order.py
  src/viur/shop/payment_providers/unzer_abstract.py
  src/viur/shop/skeletons/address.py
  src/viur/shop/skeletons/cart.py
  src/viur/shop/skeletons/order.py
Labels: enhancement, component: skeleton, component: module, component: API, breaking-change

#82 fix: Make order operations transaction safe
  src/viur/shop/payment_providers/abstract.py
  src/viur/shop/payment_providers/invoice.py
  src/viur/shop/payment_providers/prepayment.py
  src/viur/shop/payment_providers/unzer_abstract.py
  src/viur/shop/types/__init__.py
Labels: Priority: High, bug(fix), component: module, component: payment provider

#83 feat: Cache vat rates
  src/viur/shop/modules/vat_rate.py
  src/viur/shop/skeletons/order.py
Labels: Priority: Low, enhancement, component: module, performance

#84 feat: Make `scope_code` caseINsenstive
  index.yaml
  src/viur/shop/data/translations.py
  src/viur/shop/modules/discount_condition.py
  src/viur/shop/skeletons/discount_condition.py
  src/viur/shop/types/__init__.py
  src/viur/shop/types/dc_scope.py
Labels: component: skeleton, component: module, component: types

#85 feat: Implement a cached `get_skel` method for `DiscountConditonSkel`
  src/viur/shop/modules/discount_condition.py
  src/viur/shop/types/dc_scope.py
Labels: Priority: Low, component: module, component: types, performance

#86 chore: Change / Deactivate some logging some loggings
  src/viur/shop/modules/abstract.py
  src/viur/shop/modules/cart.py
  src/viur/shop/modules/discount.py
  src/viur/shop/modules/discount_condition.py
  src/viur/shop/modules/shipping.py
  src/viur/shop/shop.py
  src/viur/shop/skeletons/article.py
  src/viur/shop/skeletons/cart.py
  src/viur/shop/types/dc_scope.py
  src/viur/shop/types/price.py
Labels: Priority: Low

#89 fix: Vat rate for shipping needs to be as percentage too
  src/viur/shop/skeletons/cart.py
Labels: Priority: High, bug(fix), component: skeleton
