Repository viur-framework/viur-shop, pull requests merged in 2025-02, with the labels that each got.

#91 feat: Implement hooks for additional API fields
  src/viur/shop/modules/api.py
  src/viur/shop/modules/cart.py
  src/viur/shop/modules/order.py
  src/viur/shop/types/__init__.py
  src/viur/shop/types/enums.py
  src/viur/shop/types/exceptions.py
Labels: Priority: High, enhancement, component: module, component: API

#92 fix: send correct argument name when order add/edit runs into Exception
  src/viur/shop/modules/order.py
Labels: bug(fix), component: module, component: API

#93 fix: `article_add` API method validation and types
  src/viur/shop/modules/api.py
  src/viur/shop/modules/cart.py
  src/viur/shop/modules/order.py
Labels: bug(fix), component: module, component: API

#94 feat: Extend `ShippingSkel` with `art_no` bone and set tooltip
  src/viur/shop/data/translations.py
  src/viur/shop/skeletons/shipping.py
  src/viur/shop/skeletons/shipping_config.py
Labels: component: skeleton
